<div style="padding: 20px;" fxLayoutGap="8px" fxLayout="column">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Native Name Column -->
        <ng-container matColumnDef="nativeName">
            <th mat-header-cell *matHeaderCellDef> Native Name </th>
            <td mat-cell *matCellDef="let element"> {{element.nativeName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>