<mat-list *ngIf="countryDetail" role="list">
    <mat-list-item role="listitem">Country Name : {{countryDetail.name}}</mat-list-item>
    <mat-list-item role="listitem">Capital : {{countryDetail.capital}}</mat-list-item>
    <mat-list-item role="listitem">Region : {{countryDetail.region}}</mat-list-item>
    <mat-list-item role="listitem">Sub Region : {{countryDetail.subregion}}</mat-list-item>
    <mat-list-item role="listitem">Population : {{countryDetail.population}}</mat-list-item>
    <mat-list-item role="listitem">Area : {{countryDetail.area}}</mat-list-item>
    <mat-list-item role="listitem">alpha3Code : {{countryDetail.alpha3Code}}</mat-list-item>
</mat-list>